name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  flutter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.10.7"
          channel: "stable"
          cache: true

      - name: Pub get
        run: flutter pub get

      - name: Generate
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Format
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze

      - name: Test
        run: flutter test
